.request-container {
    &.show-form-elements {
        .form-item {
            display: block;
        }

        .hide-in-form {
            display: none;
        }

        .request-texts {
            width: 100%;
        }

        .left-top {
            width: 100%;
            justify-content: space-between;
        }
    }

    .submit-image-request {
        margin-top: 30px;
        border: 1px solid black;
        background-color: white;
        padding: 10px 60px;
    }

    .form-item {
        display: none;
    }

    .left-top {
        display: flex;
        align-items: center;
    }

    .lang-input {
        width: 100%;
    }

    .right-top {
        position: relative;
    }

    .option-icon {
        &:hover {
            circle {
                fill: $blue;
            }
        }
    }

    .request-options-menu {
        position: absolute;
        top: calc(100% + 15px);
        right: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        //border: 1px solid black;
        border-radius: 3px 0 3px 3px;
        text-align: center;
        filter: drop-shadow(1px 1px 2px);
        display: none;
        user-select: none;
        -moz-user-select: none;

        &.show {
            display: block;
        }
    }

    .triangle {
        position: absolute;
        bottom: 100%;
        right: 0;
        width: 30px;
        height: 15px;

        polygon {
            fill: white;
            stroke: none;
        }
    }

    .menu-link {
        padding: 10px 30px;
        white-space: nowrap;
        display: block;
        color: black;
        cursor: default;

        &:hover {
            background-color: #ededed;
        }
    }

    .add-language-div {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 10px;
    }

    .more-request-rows {
        margin-top: 10px;
    }
}
