appdirs==1.4.3
defusedxml==0.5.0
Django==1.11
django-braces==1.11.0
django-filter==1.0.2
django-oauth-toolkit==0.12.0
django-rest==0.0.1
djangorestframework==3.6.2
djangorestframework-gis==0.11.1
gevent==1.2.1
greenlet==0.4.12
gunicorn==19.7.1
mwoauth==0.3.1
oauth2-provider==0.0
oauthlib==2.0.2
packaging==16.8
pip-review==0.5.3
pluggy==0.4.0
psycopg2==2.7.1
py==1.4.33
PyJWT==1.5.0
pyparsing==2.2.0
pytest==3.0.7
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
tox==2.7.0
virtualenv==15.1.0
